*{
   margin: 0;
   padding: 0;
}

#game-board {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    width: 1000px;
    height: 800px;
    background-image: url("../img/back.png");
    background-size: cover;
    background-position: center;
}

a{
    padding:475px
}

body{
    background-color:black
}