* {
  margin: 0;
  padding: 0;
}

.game-board {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  width: 1000px;
  height: 100vh;
  background-image: url("../img/back.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  padding: 475px;
}

body {
  background-color: black;
}

/* #myCanvas {
  display: flex;
  align-items: center;
} */
