* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "PermanentMarker";
  src: url("./PermanentMarker-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GameFont";
  src: url("./Game-Font.ttf") format("truetype");
}

/* .nombre {
  color: red;
  font-size: 30px;
  font-family: PermanentMarker;
} */
.game-board {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  width: 1000px;
  height: 100vh;
  background-image: url("../img/back.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  padding: 475px;
}

body {
  background-color: black;
}

#game-board {
  transform: scale(0.8);
}

/* #myCanvas {
  display: flex;
  align-items: center;
} */
